/* # is ID and . is class */
body{
/*  height: 100vh; */
  background: url('../images/background_outline.gif') no-repeat center center;
  background-attachment: fixed;
  background-size: 45%;
  background-color: #000;
  font-family: 'Helvetica';
  cursor: default;
  --jitter: 18s;
/*  animation-delay: var(--jitter); */
}
.noselect {
  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Old versions of Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome, Opera and Firefox */
}
h1{
  font-size: 36px;
  line-height: 38px;
}
h2{
  font-size: 24px;
  line-height: 26px;
}
h3{
  font-size: 12px;
  line-height: 13px;
}
#loading {
  background: url('../images/background_animation.gif') no-repeat center center;
  background-size: 45%;
  position: fixed;
  background-color: #000;
  height: 100%;
  width: 100%;
  z-index: 9999999;
}
#scroll2play{
  position: fixed;
  width: 100%;
  bottom: 20px;
  text-align: center;
  display: none;
  color: #15a6f8;
  text-transform: uppercase;
  animation: fader 2s ease-in-out infinite;
  -moz-animation: fader 2s ease-in-out infinite;
  -ms-animation: fader 2s ease-in-out infinite;
  -webkit-animation: fader 2s ease-in-out infinite;
  -o-animation: fader 2s ease-in-out infinite;
}
@keyframes fader{
  50%{
    opacity: 0;
  } 
}
.title {
  text-align: justify;
  color: #ffffff;
  font-family: Helvetica;
  font-size:24px;
  line-height: 26px;
  padding-top:20px;
  padding-left:20px;
  padding-right: 20px;
  position: fixed;
  width: 100vw;
  top:0px;
}
.counter {
  color: white;
}
/* AFFECTS THE SPIN BUTTON TEXT */
span{
  height: 18px;
}
/* TOP TITLE SPAN WIDTH */
.span2{
  width:100%;
  height:0.5em;
  display:inline-block;
}
/* DIV FOR FIRST SCROLL */
.spacer{
  height: 100%;
  width: 100%;
  background-color: black;
}
.module {
  top: 800px; /* was 600px with scrolltop =>475: this modifies where the selector & wheel start from for scrolling purposes */
  position: relative;
}
.come-in {
  transform: translateY(500px);
  animation: come-in 0.9s ease forwards;
}
.come-in:nth-child(odd) {
  animation-duration: 0.6s; /* So they look staggered */
}
@keyframes come-in {
  to { transform: translateY(0); }
}
/* ELEMENTS NOT IN USE 
.container{
  display:inline-flex;
  flex-wrap:wrap;
}
.flex-direction{
  flex-direction:row;
}
.container-main {
  margin-left: 30px;
} 
#thrill {
  position: absolute;
  width: 25%;
  height: 25%;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  margin: auto;
}
#videochat {
  clear: both;
}
END ELEMENTS NOT IN USE */
/* SPIN WHEEL CANVAS */
#wheel{
  position: relative;
  width: 421px;
  height: 564px;
}
#canvas{
  z-index: 1;
}
#prizePointer{
  position: absolute;
  left: 191px;
  z-index: 50;
  margin-top: 10px;
}
.disabled{
  pointer-events: none;
}
.blackscreen{
  background-color: #000000;
/*  display: block; */
  width: 100%;
  height: 100vh;
  z-index: 60;
  position: relative;
/*  bottom: -1000px; */
}
#container-blackscreen {
  width: 100%;
  bottom: 0px;
/*  display: none; */
}
.slide-up{
  top: 0px !important;
  display: block;
}
/* VIDEO CHAT WINDOW ELEMENTS IN ORDER OF APPEARANCE */
.chatleft-gray{
  background-color: #c0c0c0;
  background-color: #c0c0c0;
}
.chatright-gray{
  background-color: #808080;
  border-color: #808080;
}
#videochatwindow-left{
  padding-top: 50px;
  text-align: center;
  width: 50%;
  height: 100vh;
  position: relative;
  animation-delay: var(--jitter); /* controls the animation delay for background color */
  display: none;
}
#videochatwindow-right{
  padding-top: 50px;
  text-align: center;
  width: 50%;
  height: 100vh;
  position: relative;
  animation-delay: var(--jitter); /* controls the animation delay for background color */
  display: none;
}
/* jitter effect on video frame */
@keyframes jitterLeft {
  15%  { transform: translateX(7px); }
  30%  { transform: translateX(-7px); }
  50%  { transform: translateX(5px); }
  65%  { transform: translateX(-3px); }
  80%  { transform: translateX(2px); }
  100% { transform: translateX(0px); }
}
@keyframes jitterRight {
  15%  { transform: translateX(7px); }
  30%  { transform: translateX(-7px); }
  50%  { transform: translateX(5px); }
  65%  { transform: translateX(-3px); }
  80%  { transform: translateX(2px); }
  100% { transform: translateX(0px); }
}
.jitterLeft
{
  -moz-animation: jitterLeft 0.5s;
  -webkit-animation: jitterLeft 0.5s;
  animation: jitterLeft 0.5s;
  -moz-animation-iteration-count: 1;
  -webkit-animation-iteration-count: 1;
  animation-iteration-count: 1;
  -moz-animation-delay: var(--jitter);
  -webkit-animation-delay: var(--jitter);
  animation-delay: var(--jitter);
}
.jitterRight
{
  -moz-animation: jitterRight 0.5s;
  -webkit-animation: jitterRight 0.5s;
  animation: jitterRight 0.5s;
  -moz-animation-iteration-count: 1;
  -webkit-animation-iteration-count: 1;
  animation-iteration-count: 1;
  -moz-animation-delay: var(--jitter);
  -webkit-animation-delay: var(--jitter);
  animation-delay: var(--jitter);
}
/* video background color dissolve Ryan Orange */
@-o-keyframes fadeRyan {
  0%   { background-color: #c0c0c0; }
  100% { background-color: #e74b09; }
}
@keyframes fadeRyan {
  0%   { background-color: #c0c0c0; }
  100% { background-color: #e74b09; }
}
@-webkit-keyframes fadeRyan {
  0%   { background-color: #c0c0c0; }
  100% { background-color: #e74b09; }
}
@-moz-keyframes fadeRyan {
  0%   { background-color: #c0c0c0; }
  100% { background-color: #e74b09; }
}
@-ms-keyframes fadeRyan {
  0%   { background-color: #c0c0c0; }
  100% { background-color: #e74b09; }
}
/* video background color dissolve Yanina Purple */
@-o-keyframes fadeYanina {
  0%   { background-color: #808080; }
  100% { background-color: #b74ef9; }
}
@keyframes fadeYanina {
  0%   { background-color: #808080; }
  100% { background-color: #b74ef9; }
}
@-webkit-keyframes fadeYanina {
  0%   { background-color: #808080; }
  100% { background-color: #b74ef9; }
}
@-moz-keyframes fadeYanina {
  0%   { background-color: #808080; }
  100% { background-color: #b74ef9; }
}
@-ms-keyframes fadeYanina {
  0%   { background-color: #808080; }
  100% { background-color: #b74ef9; }
}
/* video background color dissolve Naomi Yellow */
@-o-keyframes fadeNaomi {
  0%   { background-color: #808080; }
  100% { background-color: #ead600; }
}
@keyframes fadeNaomi {
  0%   { background-color: #808080; }
  100% { background-color: #ead600; }
}
@-webkit-keyframes fadeNaomi {
  0%   { background-color: #808080; }
  100% { background-color: #ead600; }
}
@-moz-keyframes fadeNaomi {
  0%   { background-color: #808080; }
  100% { background-color: #ead600; }
}
@-ms-keyframes fadeNaomi {
  0%   { background-color: #808080; }
  100% { background-color: #ead600; }
}
/* video background color dissolve Alan Blue */
@-o-keyframes fadeAlan {
  0%   { background-color: #808080; }
  100% { background-color: #15a6f8; }
}
@keyframes fadeAlan {
  0%   { background-color: #808080; }
  100% { background-color: #15a6f8; }
}
@-webkit-keyframes fadeAlan {
  0%   { background-color: #808080; }
  100% { background-color: #15a6f8; }
}
@-moz-keyframes fadeAlan {
  0%   { background-color: #808080; }
  100% { background-color: #15a6f8; }
}
@-ms-keyframes fadeAlan {
  0%   { background-color: #808080; }
  100% { background-color: #15a6f8; }
}
.backgroundAnimatedRyan { 
  -moz-animation: fadeRyan 2s forwards; 
  -webkit-animation: fadeRyan 2s forwards; 
  -o-animation: fadeRyan 2s forwards; 
  -ms-animation: fadeRyan 2s forwards; 
  animation: fadeRyan 2s forwards; 
}
.backgroundAnimatedYanina { 
  -moz-animation: fadeYanina 1.5s forwards; 
  -webkit-animation: fadeYanina 1.5s forwards; 
  -o-animation: fadeYanina 1.5s forwards; 
  -ms-animation: fadeYanina 1.5s forwards; 
  animation: fadeYanina 1.5s forwards; 
}
.backgroundAnimatedNaomi { 
  -moz-animation: fadeNaomi 1.5s forwards; 
  -webkit-animation: fadeNaomi 1.5s forwards; 
  -o-animation: fadeNaomi 1.5s forwards; 
  -ms-animation: fadeNaomi 1.5s forwards; 
  animation: fadeNaomi 1.5s forwards; 
}
.backgroundAnimatedAlan { 
  -moz-animation: fadeAlan 1.5s forwards; 
  -webkit-animation: fadeAlan 1.5s forwards; 
  -o-animation: fadeAlan 1.5s forwards; 
  -ms-animation: fadeAlan 1.5s forwards; 
  animation: fadeAlan 1.5s forwards; 
}
#video-left{
  position: relative;
/*  margin-top: 50px; */
/*  left: 15%;  // removed this when changing position from fixed to relative */
  width: 320px;
  height: 568px;
  clip: rect(0px 320px 568px 0px);
  border-width: 100%;
}
#video-right{
  position: relative;
/*  margin-top: 50px; */
/*  left: 65%; // removed this when changing position from fixed to relative */
  width: 320px;
  height: 568px;
  clip: rect(0px 320px 568px 0px);
  border-width: 100%;
}
/* LEFT SIDE - VIDEO CHAT WINDOW  */
#videochat1 {
/*  position: relative; /* removed this to try to get rid of extra scroll */
  top: 50px;
  clip: rect(0px 320px 568px 0px);
}
/* RIGHT SIDE - VIDEO CHAT WINDOW */
#videochat2 {
/*  position: relative; /*removed this to try to get rid of extra scroll */
  top: 50px;
  clip: rect(0px 320px 568px 0px);
}
/* NAME & STATUS UPDATE */
.name {
  position: relative;
  top: 550; right: 0; bottom: 0; left: 0;
  justify-content: center;
  color: #000;
  font-family: Helvetica;
  font-size:36px;
  line-height: 38px;
}
.status {
  position: relative;
  top: 580; right: 0; bottom: 0; left: 0;
  justify-content: center;
  color: #000;
  font-family: Helvetica;
  font-size:24px;
  line-height: 26px;
}
.typewriter {
  overflow: hidden; /* Ensures the content is not revealed until the animation */
/*  border-right: .15em solid orange; /* The typwriter cursor */
  white-space: nowrap; /* nowrap keeps the content on a single line, normal fills container (for mobile) */
  margin: 0 auto; /* Gives that scrolling effect as the typing happens */
  letter-spacing: .05em; /* Adjust as needed */
  animation: 
    typing 5s steps(60, end),
    blink-caret .75s step-end infinite;
}
/* The typing effect */
@keyframes typing {
  from { width: 0 }
  to { width: 80% }
}
.blink { 
  animation: fader 3s ease-in-out infinite;
  -moz-animation: fader 3s ease-in-out infinite;
  -ms-animation: fader 3s ease-in-out infinite;
  -webkit-animation: fader 3s ease-in-out infinite;
  -o-animation: fader 3s ease-in-out infinite;
}
@keyframes fader{
  50%{
    opacity: 0;
  }
}
/* MODAL ALERT */
.modal {
  width: 480px;
  height: 180px;
  font-size: 24px;
  line-height: 26px;
  color: black;
  position: fixed;
  margin-top: 20px;
  margin-bottom: 20px;
  top: 30%; /* controls position on page */
  left: 30%; /* controls position on page */
  background-color: #A7A7A7;
  text-align: center;
  z-index: 100; /* 1px higher than the overlay layer */
}
/* MODAL OK BUTTON */
.modal-button {
  padding: 10px 40px 10px 40px;
  font-size: 24px;
  line-height: 26px;
  margin-top: 12px; /* was 36px when height was 200px */
  border-width: 2px;
  border: solid;
  border-color: #262526;
  text-align: center;
  background-color: transparent;
  border-radius: 4px;
  float: none;
  color: black;
}
.modal-backdrop{
  z-index: 1; 
 /* opacity: 5%; */
}
/* To Make Frame Jitter When Viewer Leaves */
@keyframes swingSideways {
    15% { -webkit-transform: translateX(5px);
        transform: translateX(5px); }
    30% { -webkit-transform: translateX(-5px);
        transform: translateX(-5px); }
    50% { -webkit-transform: translateX(3px);
        transform: translateX(3px); }
    65% { -webkit-transform: translateX(-3px);
        transform: translateX(-3px); }
    80% { -webkit-transform: translateX(2px);
        transform: translateX(2px); }
    100% { -webkit-transform: translateX(0);
        transform: translateX(0); }
}
@-webkit-keyframes swingSideways
{
    15% { -webkit-transform: translateX(5px);
        transform: translateX(5px); }
    30% { -webkit-transform: translateX(-5px);
       transform: translateX(-5px); } 
    50% { -webkit-transform: translateX(3px);
        transform: translateX(3px); }
    65% { -webkit-transform: translateX(-3px);
        transform: translateX(-3px); }
    80% { -webkit-transform: translateX(2px);
        transform: translateX(2px); }
    100% { -webkit-transform: translateX(0);
        transform: translateX(0); }
}
@-moz-keyframes swingSideways
{
    15% { -webkit-transform: translateX(5px);
        transform: translateX(5px); }
    30% { -webkit-transform: translateX(-5px);
       transform: translateX(-5px); } 
    50% { -webkit-transform: translateX(3px);
        transform: translateX(3px); }
    65% { -webkit-transform: translateX(-3px);
        transform: translateX(-3px); }
    80%  { -webkit-transform: translateX(2px);
        transform: translateX(2px); }
    100% { -webkit-transform: translateX(0);
        transform: translateX(0); }
}
.swingSideways
{
  -webkit-animation: swing 0.5s;
  -moz-animation: swing 0.5s;
  -ms-animation: swing 0.5s;
  -o-animation: swing 0.5s;
  animation: swing 0.5s;
  -webkit-animation-iteration-count: 1;
  -moz-animation-iteration-count: 1;
  -ms-animation-iteration-count: 1;
  -o-animation-iteration-count: 1;
  animation-iteration-count: 1;
  animation-delay: 5s;
}
/* GAME SELECTION PANEL */
.hide {
 display: none;
}
/* Formatting for CHOOSE Your Thrill Level */
.rotateNegative45 {
    text-align: left;
    top: 180px;
    left: 120px;
    position: relative;
    width: 300px;
    height: 200px;
    margin: 0;
    color: #15a6f8;
    font-size: 18px;
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    transform: rotate(-45deg);
}
.blueglow .word1 { 
  animation: fader 3s ease-in-out infinite;
  -moz-animation: fader 3s ease-in-out infinite;
  -ms-animation: fader 3s ease-in-out infinite;
  -webkit-animation: fader 3s ease-in-out infinite;
  -o-animation: fader 3s ease-in-out infinite;
}
@keyframes fader{
  50%{
    opacity: 0;
  }
}
.blueglow .word2, .word3, .word4 {
  color: #ffffff;
}
/* .greenglow .word1 .char1 { position: relative;margin-left: -1px;margin-right: -1px;color: #ffffff; } */
.greenglow .word1 .char1 { position: relative;margin-left: -1px;margin-right: -1px; }
/*.word1 .char2 { position: relative;margin-left: -1px;margin-right: -1px; }
.word1 .char3 { position: relative;margin-left: -1px;margin-right: -1px; }
.word1 .char4 { position: relative;margin-left: -1px;margin-right: -1px; } */
.word2 .char1 { position: relative;margin-left: -1px;margin-right: -1px; }
.word2 .char2 { position: relative;margin-left: -1px;margin-right: -1px; }
.word2 .char3 { position: relative;margin-left: -1px;margin-right: -1px; }
.word2 .char4 { position: relative;margin-left: -1px;margin-right: -1px; }
.word2 .char5 { position: relative;margin-left: -1px;margin-right: -1px; }
.word3 .char1 { position: relative;margin-left: -1px;margin-right: -1px; }
.word3 .char2 { position: relative;margin-left: -1px;margin-right: -1px; }
.word4 .char1 { position: relative;margin-left: -1px;margin-right: -1px; }
.word4 .char2 { position: relative;margin-left: -1px;margin-right: -1px; }
.word4 .char3 { position: relative;margin-left: -1px;margin-right: -1px; }
.word4 .char4 { position: relative;margin-left: -1px;margin-right: -1px; }
.word4 .char5 { position: relative;margin-left: -1px;margin-right: -1px; }
.word4 .char6 { position: relative;margin-left: -1px;margin-right: -1px; }
.word5 .char1 { position: relative;margin-left: -1px;margin-right: -1px;color:#5bbe84; }
.word5 .char2 { position: relative;margin-left: -1px;margin-right: -1px;color:#5bbe84; }
.word5 .char3 { position: relative;margin-left: -1px;margin-right: -1px;color:#5bbe84; }
.word5 .char4 { position: relative;margin-left: -1px;margin-right: -1px;color:#5bbe84; }
.word5 .char5 { position: relative;margin-left: -1px;margin-right: -1px;color:#5bbe84; }
.word5 .char6 { position: relative;margin-left: -1px;margin-right: -1px;color:#5bbe84; }
.word5 .char7 { position: relative;margin-left: -1px;margin-right: -1px;color:#5bbe84; }
.word5 .char8 { position: relative;margin-left: -1px;margin-right: -1px;color:#5bbe84; }
.word5 .char9 { position: relative;margin-left: -1px;margin-right: -1px;color:#5bbe84; }
.word5 .char10 { position: relative;margin-left: -1px;margin-right: -1px;color:#5bbe84; }
.word5 .char11 { position: relative;margin-left: -1px;margin-right: -1px;color:#5bbe84; }
.word5 .char12 { position: relative;margin-left: -1px;margin-right: -1px; }
.word5 .char13 { position: relative;margin-left: -1px;margin-right: -1px; }
.word5 .char14 { position: relative;margin-left: -1px;margin-right: -1px; }

/* Formatting for A Wheel of Chance CONNECTIONS */
.rotate45 {
    text-align: left;
    top: 225px;
    left: 130px;
    position: relative;
    width: 100px; /* 300*/
    height: 145px; /*150*/
    margin: 5;
    color: #5bbe84;
    font-size: 12px;
    line-height: 10px; 
    -webkit-transform: rotate(65deg);
    -moz-transform: rotate(65deg);
    -ms-transform: rotate(65deg);
    -o-transform: rotate(65deg);
    transform: rotate(65deg);
}
.greenglow .word1, .word2, .word3, .word4 { 
  color: #ffffff;
  letter-spacing: -1px;
}
.greenglow .word5 {
  color: #5bbe84;
  letter-spacing: -1px;
  animation: fader 3s ease-in-out infinite;
  -moz-animation: fader 3s ease-in-out infinite;
  -ms-animation: fader 3s ease-in-out infinite;
  -webkit-animation: fader 3s ease-in-out infinite;
  -o-animation: fader 3s ease-in-out infinite;
}
@keyframes fader{
  50%{
    opacity: 0;
  }
}

/* TRIANGLE BUTTON SHAPES */
.triangle-up p{
  text-align: center;
  font-size: 24px;
  font-family: Helvetica;
  top: 80px;
  left: -55px;
  position: relative;
  width: 115px;
  height: 115px;
  margin: 0;
  color: #000;
}
.triangle-up { 
  width: 0;
  height: 0;
  border-style: inset;
  border-width: 115px 115px 115px 115px;
  border-color: transparent transparent #D0D0D0 transparent;
  -ms-transform:rotate(0deg);
  -moz-transform:rotate(0deg);
  -webkit-transform:rotate(0deg);
  -o-transform:rotate(0deg);
  transform:rotate(0deg);
}
.triangle-up:hover {
  border-color: transparent transparent #5bbe84 transparent;
}
.triangle-up-animation{
  animation: blinky 1.5s;
  -moz-animation: blinky 1.5s;
  -ms-animation: blinky 1.5s;
  -webkit-animation: blinky 1.5s;
  -o-animation: blinky 1.5s;
}
@keyframes blinky{
  50%{
    border-color: transparent transparent #5bbe84 transparent;
  }
}
.triangle-down p{
  font-size: 60px;
  font-family: Helvetica;
  font-style: 600;
  bottom: 5px;
  left: -55px;
  position: relative;
  width: 115px;
  height: 115px;
  margin: 0;
  color: #000;
  -moz-transform: scale(-1, -1);
  -webkit-transform: scale(-1, -1);
  -o-transform: scale(-1, -1);
  -ms-transform: scale(-1, -1);
  transform: scale(-1, -1);
}
/* SPIN letter format control */
/*.jumble .char1 { margin-bottom:15px;}
.jumble .char2 { vertical-align:sub;}
.jumble .char3 { vertical-align:sub;}
.jumble .char4 { margin-top:20px;} */

.jumble .char1 { position:absolute; margin-top: -15px; margin-left: -10px; }
.jumble .char2 { position:absolute; margin-top: 10px; margin-left: 30px;  }
.jumble .char3 { position:absolute; margin-top: 30px; margin-left: 65px; }
.jumble .char4 { position:absolute; margin-top: -10px; margin-left: 80px; }

.triangle-down { 
  position: relative;
  bottom: 230px;
  width: 0;
  height: 0;
  border-style: inset;
  border-width: 115px 115px 115px 115px;
  border-color: transparent transparent #7C7B7B transparent;
  -ms-transform:rotate(180deg);
  -moz-transform:rotate(180deg);
  -webkit-transform:rotate(180deg);
  -o-transform:rotate(180deg);
  transform:rotate(180deg);
}
.triangle-down:hover {
  border-color: transparent transparent #ead600 transparent;
}
.triangle-left p{
  text-align: center;
  font-size: 24px;
  font-family: Helvetica;
  top: 80px;
  left: -55px;
  position: relative;
  width: 115px;
  height: 115px;
  margin: 0;
  color: #000;
}
.triangle-left {
  position: relative; 
  left: 0;
  bottom: 0;
  width: 0;
  height: 0;
  border-style: inset;
  border-width: 115px 115px 115px 115px;
  border-color: transparent transparent #F6F6F6 transparent;
  -ms-transform:rotate(-90deg);
  -moz-transform:rotate(-90deg);
  -webkit-transform:rotate(-90deg);
  -o-transform:rotate(-90deg);
  transform:rotate(-90deg);
}
.triangle-left:hover {
  border-color: transparent transparent #de1b2e transparent;
}
.triangle-left-animation{
  animation: blink 1.5s;
  -moz-animation: blink 1.5s;
  -ms-animation: blink 1.5s;
  -webkit-animation: blink 1.5s;
  -o-animation: blink 1.5s;
}
@keyframes blink{
  50%{
    border-color: transparent transparent #de1b2e transparent;
  }
}
.triangle-right p{
  text-align: center;
  font-size: 24px;
  font-family: Helvetica;
  top: 80px;
  left: -55px;
  position: relative;
  width: 115px;
  height: 115px;
  margin: 0;
  color: #000;
}
.triangle-right {
  position: relative;
  left: 229px;
  bottom: 230px;
  width: 0;
  height: 0;
  border-style: inset;
  border-width: 115px 115px 115px 115px;
  border-color: transparent transparent #A8A8A7 transparent;
  -ms-transform:rotate(90deg);
  -moz-transform:rotate(90deg);
  -webkit-transform:rotate(90deg);
  -o-transform:rotate(90deg);
  transform:rotate(90deg);
}
.triangle-right:hover {
  border-color: transparent transparent #15a6f8 transparent;
}
.triangle-right-animation{
  animation: blinkr 1.5s;
  -moz-animation: blinkr 1.5s;
  -ms-animation: blinkr 1.5s;
  -webkit-animation: blinkr 1.5s;
  -o-animation: blinkr 1.5s;
}
@keyframes blinkr{
  50%{
    border-color: transparent transparent #15a6f8 transparent;
  }
}
/* THRILL LEVEL BUTTON COLORS */
.pw1 {
/*  border-color: transparent transparent #5bbe84 transparent; */
  border-bottom: 115px solid #5bbe84;
}
.pw2 {
  border-bottom: 115px solid #de1b2e; 
}
.pw3 {
  border-bottom: 115px solid #15a6f8;
}
.spin_button {
  border-bottom: 115px solid #ead600;
}
.square {
  position: relative;
  width: 50%;
  background-color: white;
}
.square:after {
  content: "";
  display: block;
  padding-bottom: 91%;  /* changed padding-bottom from 76% to create larger square */
}
/* This will keep content inside div responsive and aligned. NEED TO APPLY TO TRIANGLES */
.content {
  position: absolute;
  width: 50%;
  height: 100%;
}
/* CIRCLE BUTTONS */
.round-button {
  width:5%;
}
.round-button-circle {
  width: 100%;
  height:0;
  padding-bottom: 100%;
  border-radius: 50%;
  overflow:hidden;
  background: #f2f9f9; /* off white */
}
.round-button-circle:hover {
  background: #15a6f8;
  color:#dedee5;
}
.round-button a {
  display:block;
  float:left;
  width:100%;
  padding-top:42%;
  font-size:12px;
  line-height:13px;
  text-align:center;
  color:#2f2f30;
  font-weight:400;
  text-decoration:none;
}
.rectangular-button {
  display: none;
}
/* BUTTON CLASS POSITIONS */
.button-home {
  position: relative; /* was absolute when div positioned outside of thrill container */
/*  bottom: 50px; */
  top: 500px; /* was 300px when scrollTop was =>375 */
  left: 10%;
  transform: translateX(-50%);
  z-index: 999;
}
.button-report {
  position: relative;
  bottom: 100px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 999;
}
/*  SECTIONS  */
/* this keeps the triangle selectors lined up to the square */
#diamond-buttons{
  position: relative;
  width: 689px;
  margin-left: 60px;
}
.section {
  padding: 0;
  margin: 0;
  z-index: 2;
}
#padding-top{
  position: relative;
  margin-top: -150px;
}
/*  COLUMN SETUP  */
.col {
  display: block;
  float: left;
}
.col:first-child { margin-left: 0; }

/*  GRID OF TWO  */
.span_1_of_2 {
  width: 49.2%;
  height: 100vh;
  z-index: 10;
}
.span_2_of_2 {
  width: 100%;
  height: 100vh;
  z-index: 10;
}
/*  GRID OF THREE  */
.span_3_of_3 { width: 100%; }
.span_2_of_3 { width: 66.66%; }
.span_1_of_3 { width: 33.33%; }

.square-container{
  display: none;
}
.square-center{
  display: none;
}
/* ******************** */ /* ******************** */ /* ******************** */ /* ******************** */
/* RESPONSIVE */
/* ******************** */ /* ******************** */ /* ******************** */ /* ******************** */

/* FOR TABLETS < 768 */
@media screen and (max-width: 768px) {
  #diamond-buttons {
    margin-left: -90px;
  }
  #wheel {
    width: 10px;
  }
}
/* ******************** */
/* FOR PHONES 480 x 853 : NEEDS TO STAY THIS LARGE TO AFFECT ALL MOBILE DEVICES BELOW THIS - BUT NEED TO ADJUST & CENTER */
/* ******************** */

@media screen and (max-width: 481px) {
body{
  background-image: none;
  background-size: 80%;
  height: 0%;
  margin: auto;
}
h1{
  font-size: 32px;
  line-height: 34px;
}
h3{
  font-size: 16px;
  line-height: 18px;
}
#loading {
  background-size: 80%;
}
#padding-top{
  display: none;
}
#desktop-padding-row{
  display: none;
}
#scroll2play{
  bottom: 80px;
}
#title{
  display: none !important;
}
#mtitle {
  display: inline-block;
  text-align: justify;
  color: #ffffff;
  font-family: Helvetica;
  padding-left:20px;
  padding-right: 20px;
  position: fixed;
  width: 100vw;
  top:0px;
  font-size:14px;
  line-height: 16px;
  padding-top:10px;
  margin-bottom: -90px;
  color: #5bbe84;
}
/* TOP TITLE SPAN WIDTH */
.span2{
  width:100%;
  height:10px;
  display:inline-block;
}
/* DIV FOR FIRST SCROLL */
.spacer{
  height: 100%;
  width: 100%;
  background-color: black;
}
.module {
  top: 0%;
}
#diamond-buttons{
  display: none;
}
#wheel{
  width: 100%;
/*  height: 560px; */
  margin-left: 1%;
  margin-top: -30%;
  margin-bottom: auto;
}
#prizePointer{
  position: absolute;
  left: 46%;
  z-index: 50;
  margin-top: 12px;
  height: 25%;
  top:26%;
}
/* MODAL ALERT MOBILE */
.modal {
  width: 100%;
  height: 30%;
  top: 50%; /* controls position on page */
  left: 0%; /* controls position on page */
  overflow: hidden;
}
.modal-body {
  padding: 5%;
  height: 1%;
}
.modal-button {
  border: none;
  margin-top: 20%;
  background-color: #E1B32E;
  width: 100%;
  height: 60%;
}
/*  COLUMN SETUP  */
.col {
/*  margin: 1% 0 1% 0;
  display: none; */
}
.span_2_of_2, .span_1_of_2 {
  width: 100%;
}  
.span_3_of_3, .span_2_of_3, .span_1_of_3 {
  width: 100%;
}
/* THRILL SELECTOR SQUARE */
.square-center{
  display: block;
  text-align: center;
}
.square-container{
  display: inline-block;
  width: 80%;
  height: 80%;
  text-align: center;
  margin-left:12%;
}
.mobile-square{
  float: left;
  margin: 0;
  border: 0;
  width: 140px; /* this size seems to work on S9 and all other phones */
  height: 140px;
  text-align: center;
  line-height: 140px;
  font-size: 16px;
}
.move {
  background-color: #F6F6F6;
}
.truth {
  background-color: #D0D0D0;
}
.wild {
  background-color: #A8A8A7;
}
.spin {
  background-color: #7C7B7B;
  font-size: 50px;
  font-weight: 600;
}
/* THRILL LEVEL BUTTON COLORS */
.mpw1 {
  background-color: #5bbe84;
}
.mpw2 {
  background-color: #de1b2e; 
}
.mpw3 {
  background-color: #15a6f8;
}
.mspin_button {
  background-color: #ead600;
}
/* SPIN letter format control */
.awkward .char1 { position:absolute; margin-top: -40px; margin-left: -65px; }
.awkward .char2 { position:absolute; margin-top: -10px; margin-left: -30px; }
.awkward .char3 { position:absolute; margin-top: 20px; margin-left: 5px; }
.awkward .char4 { position:absolute; margin-top: 50px; margin-left: 25px; }

.container-main {
/*  width: 480px; */
  max-width: 100%;
}
.container{
  background-color: #db8420;
}
.chatleft-gray{
  background-color: none;
}
.chatright-gray{
  background-color: none;
}
#videochatwindow-left{
  text-align: center;
  width: 100%;
  height: 100%;
  padding: 20px 20px 20px 20px;
  position: absolute;
  animation-delay: var(--jitter);
  display: none;
  z-index: 12;
}
/* set videochatwindow as the boundary box, then video at 100% to fill it*/
#videochatwindow-right{
  width: 28%; /* was 132px; width of video + 6px on each side */
  height: 1%; /* only need some % value here so video is contained */
  float: right;
  position: relative;
  right: 7%;
  animation-delay: var(--jitter);
  display: none;
  z-index: 30;
  margin-top: 124%;
  padding-top: 0px;
}
.name, .overlay-name{
  display:none;
  font-size: 16px;
  line-height: 18px;
  }
.left-name {
  display: none;
  font-size: 24px;
  line-height: 26px;
}
.connecting, .right-name {
  display: none;
  font-size: 16px;
  line-height: 18px;
}
.status{
  display: none !important;
}
.typewriter {
  white-space: normal; /* nowrap keeps the content on a single line, normal fills container (for mobile) */
}
#video-left{
  position: relative;
/*  width: 360px; /* size of the actual video */
/*  height: 653px;  disable specific height to get width with proper margins */
  width: 100%;
  height: 100%;
  margin-top: 0;
/*  margin-left: 20px; */
}
#video-right{
  display: block;
  position: relative;
  margin: 6px;
  height: 100%;
  width: 90%; /* was 120px; /* a third the size of actual video */
}
.overlay-left{
  top: 60%;
  font-size: 24px;
  line-height: 26px;
}
.overlay-right{
  display: none;
  font-size: 16px;
  line-height: 18px;
}
/* LEFT SIDE - VIDEO CHAT WINDOW  */
#videochat1 {
  left: 20px;
}
/* RIGHT SIDE - VIDEO CHAT WINDOW */
#videochat2 {
  display: block;
  z-index: 13;
}
/* GAME SELECTION PANEL */
.hide {
 display: none;
}
/* CHOOSE format control */
.rotateNegative45 {
  float: left;
  width: 100%;
  height: 0%;
  display: block;
  margin-left: -53%;
  left:0%;
  top: -180px;
  -webkit-transform: rotate(-90deg);
  -moz-transform: rotate(-90deg);
  -ms-transform: rotate(-90deg);
  -o-transform: rotate(-90deg);
  transform: rotate(-90deg);
  }
.blueglow .word1 { 
  animation: fader 3s ease-in-out infinite;
  -moz-animation: fader 3s ease-in-out infinite;
  -ms-animation: fader 3s ease-in-out infinite;
  -webkit-animation: fader 3s ease-in-out infinite;
  -o-animation: fader 3s ease-in-out infinite;
}
@keyframes fader{
  50%{
    opacity: 0;
  }
}
.blueglow .word2, .word3, .word4 {
  color: #ffffff;
}
/* CONNECTIONS format control mobile */
#connections {
  display: none;
}
#connections-mobile{
  display: inline-block;
}
.rotate45 {
  text-align: left;
/*  top: 45%;  was 41% when circle diameter was 170 */
/*  left: 26%; removed when changed diameter & top to 45% */
  position: relative;
  width: 100px; /* 300*/
  height: 145px; /*150*/
  margin: 5;
  color: #5bbe84;
  font-size: 12px;
  line-height: 10px; 
  -webkit-transform: rotate(85deg);
  -moz-transform: rotate(85deg);
  -ms-transform: rotate(85deg);
  -o-transform: rotate(85deg);
  transform: rotate(85deg);
}
.greenglow {
  font-size: 18px;
}
.greenglow .word5{
  animation: fader 3s ease-in-out infinite;
  -moz-animation: fader 3s ease-in-out infinite;
  -ms-animation: fader 3s ease-in-out infinite;
  -webkit-animation: fader 3s ease-in-out infinite;
  -o-animation: fader 3s ease-in-out infinite;
  color: #5bbe84;
}
@keyframes fader{
  50%{
    opacity: 0;
  }
}
.greenglow .word1, .word2, .word3, .word4 {
  color: #ffffff;
}
/* BUTTONS */
.round-button, .round-button-circle, .round-button-circle a {
  all: revert;
}
.rectangular-button {
  width: 100%;
  height: 10%;
  position: fixed;
  bottom:0;
  display:block;
}
.rectangular-button a {
  text-align:center;
  font-family:Helvetica sans-serif;
  font-size:.9em;
  font-weight:400;
  text-decoration:none;
  color: white;
}
/* BUTTON POSITIONS */
#home {
  display: none;
  background-color: #5bbe84;
  color: black;
  width: 100%;
  height: 40px;
  text-align: center;
  padding-top: 12px;
  position: fixed;
  font-size: 16px;
  bottom: 0;
  z-index: 999;
}
#report {
  display: none;
  background-color: black;
  color:white;
  width: 100%;
  height: 40px;
  text-align: center;
  padding-top: 12px;
  position: fixed;
  font-size: 16px;
  bottom: 0;
  z-index: 999;
}
}